#shiyu{
    background-color: purple;
    font-size: larger;
    height: 50%;
    width: 25%;
    font-size: 60px;
    
}

#ui{
    background-color: rgb(255, 42, 198);
    font-size: larger;
    height: 50%;
    width: 25%;
    font-size: 60px;
}

#chisato{
    background-color: green;
    font-size: larger;
    height: 50%;
    width: 25%;
    font-size: 60px;
}

#test{
    background-color: rgb(139, 216, 255);
    font-size: larger;
    height: 50%;
    width: 25%;
    font-size: 60px;
}

#miyuu{
    background-color: pink;
    font-size: larger;
    height: 50%;
    width: 25%;
    font-size: 60px;
}

#miharu{
    background-color: white;
    font-size: larger;
    height: 50%;
    width: 25%;
    font-size: 60px;
}

#sayaka{
    background-color: blue;
    font-size: larger;
    height: 50%;
    width: 25%;
    font-size: 60px;
}

#asuka{
    background-color: orange;
    font-size: larger;
    height: 50%;
    width: 25%;
    font-size: 60px;
}